<br>
<div style="display:inline-block; vertical-align:top">
    Filter:
    <input type="text" ng-model='search_filter'>
    <br><br>
    <p>Add a new product</p>
    Name:<br>
    <input type="text" ng-model="product.product_name"><br>
    Image (url):<br>
    <input type="text" ng-model="product.image"><br>
    Description: <br>
    <input type="text" ng-model="product.description"><br>
    Initial Quantity:<br>
    <input type="number" ng-model="product.quantity"><br>
    <input type="submit" value="Create" ng-click="addProduct()">
</div>
<div style="display:inline-block; vertical-align:top; width:800px">
    <div style="display:inline-block; padding:10px;" ng-repeat="product in products | filter: {product_name: search_filter}">
        <img src="{{product.image}}" width="150" height="150"><br>
        {{product.product_name}}<br>
        ({{product.quantity}} left)
    </div>
    
</div>